/dist
.tmp
public/admin

.env
.DS_Store
/uploads
/tmp
/.claude
/node_modules
yarn-error.log

.idea

coverage
reports

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusa

/progress.txt
/PLAN.txt
/PRD_CHECKLIST.md

